<style>
    .table td,
    .table th {
        vertical-align: middle;
    }
</style>

{{#if products.length}}
<h2>Lista de Productos</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>${{this.price}}</td>
            <td style="width:25%;"><img src={{this.image}} style="width:8%;" alt="Imagen"></td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}