<%- include('./head.ejs') %>
<div class="container mt-3">
  <div class="jumbotron">
    <div class="form-group">
      <h1 class="alert alert-success">Hasta luego, <%= nameUser %></h1>
      <button
          class="btn btn-warning float-right mt-2"
          onclick="location.href='/'"
        >
          Inicio
        </button>
    </div>
  </div>
</div>
