<%- include('./head.ejs') %>
<div class="container mt-3">
  <div class="jumbotron">
    <h1>Login de Usuario</h1>
    <br />
    <form action="/login" method="post" autocomplete="off">
      <div class="form-group">
        <label for="nameUser">Ingrese su nombre</label>
        <input
          id="nameUser"
          class="form-control"
          type="text"
          name="nameUser"
          placeholder="Ingrese su nombre"
          required
        />
      </div>
      <div class="form-group">
        <input
          id="password"
          name="password"
          placeholder="Ingrese su password"
          class="form-control"
          type="password"
          required
        />
      </div>
      <button class="btn btn-success mt-3" id="btncl">Enviar</button>
    </form>
    <hr>
    <div class="text-left">
      <button class="btn btn-success my-3" onclick="location.href = '/register'">Ir a Register</button>
      <button class="btn btn-success my-3" onclick="location.href = '/auth/facebook'">Login con Facebook</button>
      </div>
  </div>
</div>

